/* Barra de navegacion */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #240B34;
}

/* Menú hamburguesa y logo*/
.nav-left {
    display: flex;
    gap: 10px;
}

/* Buscador*/
.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Carrito y usuario */
.nav-right {
    display: flex;
    gap: 10px; 
}

form {
    display: flex;
    align-items: center;
}

form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

form button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 5px;
}

form button img {
    width: 15px;
}

nav ul li a img {
    width: 30px; 
}

/*  mi aporte */

.sesion-control{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2); /* Transparente */
    backdrop-filter: blur(10px); /* Efecto borroso */
    z-index: 10;
}

.sesion-control .login-container{
    margin: auto;
    width: 50%;
    height: 70%;
    display: flex;
    background-color: #35225E;
    color: white;
    overflow: hidden;
    transition: transform .5s ease;
}

.sesion-control .login-container form{
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    transition: transform .5s ease;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.sesion-control .login-container a{ 
    color: #1D9BF0;
}

.sesion-control .login-container button, .sesion-control .login-container input{ 
    width: 50%;
    height: 45px;
}
.sesion-control .login-container p{ 
    width: 50%;
}
.sesion-control .login-container button{ 
    border-radius: 20px;
}

.sesion-control .login-container input{ 
    border-radius: 5px;
}

.separador{
    display: flex;
}
