@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}


@media (max-width: 1280px) {

    body {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .container-main{
        width: 1080px;
        overflow-x : hidden;
        padding: 0px 100px;
    }

    /*/////////////////////////// COMIENZO LOADER ///////////////////////////*/

    /* Estilos para el Loader */
    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #88DE7F,#A8EBEC);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000; /* Asegura que el loader esté al frente */
    }

    .loader-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 20px solid #83C252; /* Color de borde verde */
        border-top: 20px solid #1B428F; /* Color azul en la parte superior */
        animation: spin 15s cubic-bezier(0.25, 1, 0.5, 1) infinite;
    }

    .loader-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Lato', sans-serif;
        color: #1B428F;
        animation: fadeIn 1.2s ease-in-out infinite alternate;
        will-change: opacity;  /* Mejora el rendimiento de la animación */
    }

    .loader-text-numero{
        transform: translate(-50%, -100%);
        font-size: 50px;
        font-weight: bolder;
    }

    .loader-text-cargando{
        transform: translate(-50%, 0%);
        font-size: 30px;
        font-weight: bold;
    }

    /* Animación de rotación */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(2520deg); }
    }

    /* Animación de parpadeo */
    @keyframes fadeIn {
        0% { opacity: 0.3; }
        100% { opacity: 1; }
    }

    /*/////////////////////////// FINALIZO LOADER ///////////////////////////*/

    /*/////////////////////////// COMIENZO HEADER ///////////////////////////*/

    header{
        display: flex;
        justify-content: space-between;
    }

    .container-menu-hamburguesa , .container-btn-comprar{
        margin: 10px 0px 0px 0px;
        z-index: 2;
    }

    .container-menu-hamburguesa img{
        width: 40px;
        height: 30px;
    }

    /* Estilos del botón hamburguesa */
    .hamburger-button {
        width: 34px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-button span {
        width: 100%;
        height: 4px;
        background-color: #F39E46;
        border: 4px solid #fff;
        border-radius: 111px;
        box-shadow: 4px 5px 0px 0px #02187E;
        transition: transform 0.7s ease;
    }

    .transformed #span1,.transformed #span3 {
        border-radius: 0px;
        box-shadow: none;
    }

    /* Clase para aplicar la transformación */
    .transformed #span1 {
        transform: translatey(99%) rotate(40deg);
    }

    .transformed #span2 {
        opacity: 0; /* Oculta la línea central */
    }

    .transformed #span3 {
        transform: translatey(-99%) rotate(-40deg);
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: -300px;
        z-index: 10;
        width: 300px;
        height: 105px;
    }

     nav.visible ul li{
        animation: slideIn 0.7s ease forwards;
        opacity: 0;
        background: #83C252;
        color: white;
    } 

    nav.visible ul li:nth-child(1) {
        animation-delay: 0.2s;
    }
    nav.visible ul li:nth-child(2) {
        animation-delay: 0.4s;
    }
    nav.visible ul li:nth-child(3) {
        animation-delay: 0.6s;
    }

    /* Define la animación que hace que los elementos se deslicen desde la izquierda */
@keyframes slideIn {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

    header.visible{
        z-index: 1000;
        background: linear-gradient(180deg, #00d0d7 0%, #ffffff 100%);
        position: relative;
        width: 100vw;
        left: -100px;
        animation: backgroundAnimation 0.7s ease-in-out forwards;
    }

    @keyframes backgroundAnimation {
        0% {
            background: linear-gradient(180deg, rgba(0, 208, 215, 0) 0%, rgba(255, 255, 255, 0) 100%);
        }
        100% {
            background: linear-gradient(180deg, #00d0d7 0%, #ffffff 100%);
        }
    }

    header.visible .container-menu-hamburguesa{
         margin-left: 100px;
    }

    header.visible .container-btn-comprar{
        margin-right: 100px;
   }

    li{
        height: 35px;
        list-style: none;
        padding-top: 7px;
        border: 1px solid #fff;
        width: 100%;
        text-align: center;
    }

    .container-logo{
        display: none;
    }

    .btn-comprar {
        text-decoration: none;
        background-color: #83C252;
        color: white;
        width: 180px;
        height: 50px;
        border-radius: 30px;
        border: solid white 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 3px 4px 0px #02187E; /* Sombra azul debajo del botón */
        font-size: 20px;
        font-weight: 900;
        line-height: 18.9px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 10px;

    }
    /*/////////////////////////// FINALIZA HEADER ///////////////////////////*/

    /*/////////////////////////// COMIENZO PRIMERA SECCIÓN PORTADA ///////////////////////////*/

     .seccion-inicio{
        height: 959px;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100vw;
        left: -100px;
        top: -70px;
        background-image: url('/img/fondo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .seccion-arbol-izq{
        position: absolute;
        top: -10px;
        left: 0px;
        z-index: 1;
    }

    .seccion-arbol-der{
        position: absolute;
        top: 90px;
        right: 0px;
        z-index: 3;
    }

    .seccion-arbol-der-chico{
        position: absolute;
        top: 278.38px;
        right: 0px;
        z-index: 1;
    }

    .arbusto1{
        position: absolute;
        bottom: 50px;
        left: 200px;
        z-index: 3;
    }

    .arbusto2{
        position: absolute;
        bottom: 140px;
        left: 160px;
        z-index: 0;
    }

    .piedra1{
        position: absolute;
        bottom: 100px;
        left: 130px;
        z-index: 2;
    }

    .arbusto3{
        position: absolute;
        bottom: 200px;
        right: 0px;
        z-index: 2;
    }

    .arbusto4{
        position: absolute;
        bottom: 275px;
        right: 60px;
        z-index: 0;
    }

    .piedra2{
        position: absolute;
        bottom: 160px;
        right: 170px;
        z-index: 6;
    }

    .piedra3{
        position: absolute;
        bottom: 170px;
        right: 90px;
        z-index: 5;
    }

    .piedra4{
        position: absolute;
        bottom: 180px;
        right: 170px;
        z-index: 4;
    }

    .block-rojo-1{
        position: absolute;
        bottom: 130px;
        right: 580px;
        z-index: 6;
    }

    .block-naranja-2{
        position: absolute;
        bottom: 275px;
        right: 500px;
        z-index: 5;
    }

    .block-amarillo-3{
        position: absolute;
        top:323px;
        left: 710.25px;
        z-index: 4;
    }

    .elipse1{
        position: absolute;
        bottom: 150px;
        right: 600px;
        z-index: 3;
    }

    .elipse2{
        position: absolute;
        bottom: 176px;
        right: 490px;
        z-index: 2;
    }

    .elipse3{
        position: absolute;
        bottom: 208px;
        right: 380px;
        z-index: 1;
    }

    /*/////////////////////////// FINALIZA PRIMERA SECCIÓN PORTADA ///////////////////////////*/

    /*Seccion de presentacion*/

    .seccion-presentacion{
        height: 1200px;
        position: relative;
        width: 100vw;
        left: -100px;
        top: -71px;
        background-image: url('/img/fondo2.png');

        background-repeat: no-repeat;
    }

    h1{
        position: relative;
        max-width: 508px;
        height: 132px;
        font-size: 47px;
        top: 55px;
        left: 100px;
        color: #1B428F;
        font-weight: 600;
        size: 47px;
        line-height: 44.41px;
    }

    .seccion-presentacion p{
        position: relative;
        max-width: 694px;
        max-height: 154px;
        font-size: 20px;
        left: 100px;
        top: 80px;
        color: #1B428F;
        text-align: justify;
        font-weight: 400;
        size: 20px;
        line-height: 24px;
    }
    .video-trailer{
        position: relative;
        width: 576.38px;
        height: 324.35px;
        left: 206px;
        top: 102px;
        /* border-radius: 77px;
        border: solid #1B5F99 29px; */
    }
    .video{
        width: 100%;
        height: 100%;
        border-radius:47px ;
    }
    .seccion-figura5{
        position: absolute;
        top: -85px;
        right: -79px;

    }
     .seccion-figura5 img{
        width: 572px;
        height: 1259px;
    }

    .seccion-figura4{
        position: absolute;
        top: 560px;
        left: 48px;
        z-index: 1;
    }
    .seccion-figura4 img{
        width: 601.64px;
        height: 543.24px;
    }

    /*Seccion galeria horizontal*/
    .seccion-galeria{
        position: relative;
        display: flex;
        top: 683px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 500px;
        width: 100vw;
        left: -100px;
        top: -71px;
    }

    .card-galeria{
        margin: 0;
        width: 303px;
    }
    .card-galeria img{
        width: 300px;
        height: 252.69px;
    }
    .card-galeria .p-card{
        width: 300px;
        color: black;
        margin: 0;
    }
    /*Seccion de compra*/
    .seccion-descarga {
        position: relative;
        width: 100vw;
        left: -100px;
        /* top: 874px; */
        background-image: url('/img/fondoSeccionDescarga.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1157px;
        overflow: hidden;
    }

    .figuras-descarga img{
        position: relative;
        top: 215px;
        width: 1260px;
        height: 767px;
        object-fit: cover;
    }

    .seccion-descarga h2 {
        max-width: 950px;
        max-height: 153px;
        position: relative;
        text-align: center;
        top: 175px;
        color: white;
        font-size: 61.14px;
        text-align: center;
    }

    .seccion-descarga button {
        width: 540px;
        height: 66px;
        position: relative;
        top: 290px;
        font-size: 16px;
        cursor: pointer;
        border: solid white 8px;
        background-color: #88DE7F;
        color: #fff;
        border-radius: 111px;
    }
    /*A consultar, supongo que van las img individuales
    de cada figura, hay que consultar porque no son las mismas*/
    .figura1-descarga{
        position: absolute;
        bottom: -170px;
        left: 52px;
        rotate: 8deg;
        z-index: 1;
    }
    .figura1-descarga img{
        width: 420px;
        height: 509px;
    }
    .figura3-descarga{
        position: absolute;
        left: -185px;
        rotate: 74deg;
        top: 235px;
    }
    .figura5-descarga{
        position: absolute;
        bottom: 10px;
        left: 350px;
        z-index: 0;
    }
    .figura5-descarga img{
        width: 261px;
        height: 470px;
    }
    .figura9-descarga{
        position: absolute;
        left: 500px;
        bottom: 0px;
    }
    .figura9-descarga img{
        width: 325px;
        height: 375px;
    }
    .figura2-descarga{
        position: absolute;
        bottom: -495px;
        rotate: -9deg;
        left: 820px;
    }
    .figura4-descarga{
        position: absolute;
        right: -150px;
        top: 320px;
        rotate: -70deg;
    }
    .figura4-descarga img{
        width: 400px;
        height: 700px;
    }
    /*Seccion modos de juegos*/
    .seccion-modos{
        position: relative;
        /* top: 941px; */
    }
    .seccion-modos h2{
        position: relative;
        top: 174px;
        font-size: 60px;
    }
    .art-modos{
        display: flex;
    }
    .art-modos img{
        position: relative;
        top: 182px;
        width: 291px;
        height: 436px;
    }
    .text-modo h3{
        font-size: 40px;
    }
    .text-modo p{
        font-size: 20px;
    }
    .text-modo{
        position: relative;
        left: 246px;
        top: 276px;
        display: block;
        width: 467px;
        height: 167px;
    }

    /*Seccion de videos*/
    .seccion-video{
        position: relative;
        top: 562.17px;
        width: 100vw;
        left: -100px;
        background-image: url('/img/fondo3.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1443.83px;
    }
    .seccion-video h2{
        position: relative;
        font-size: 60px;
        top: 308.83px;
        left: 100px;
        width: 802px;
        color: white;
    }
    .seccion-video img{
        position: relative;
        top: 354.83px;
        width: 804px;
        left: 100px;
    }
    .figura3-video{
        position: absolute;
        top: 170px;
        left: 731px;
    }
    .figura3-video img{
        width: 400px;
        height: 700px;
    }

}
