* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1080px) {
    body {
        background-image: url('/img/fondo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1279px;
        max-height: 959px;
    }

    /*/////////////////////////// COMIENZO HEADER ///////////////////////////*/

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .container-menu-hamburguesa , .container-btn-comprar{
        margin: 10px 40px;
    }
    
    .container-menu-hamburguesa img{
        width: 40px;
        height: 30px;
    }

    .container-logo{
        display: none;
    }

    .btn-comprar {
        text-decoration: none;
        background-color: #83C252;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        border: solid white 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 900;
        box-shadow: 3px 4px 0px #02187E; /* Sombra azul debajo del botón */
        font-size: 16px;
    }
    /*/////////////////////////// FINALIZA HEADER /////////////////////////////////////*/



    /*Seccion de inicio con logo que interactua con la barra nav*/
    .seccion-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 959px;
        margin-top: -20rem;
    }
    .logo-inicio{
        max-width: 100%;
        width: 30rem;
        height: auto;
    }

    /*Seccion de presentacion*/
    h1{
        max-width: 508px;
        height: 132px;
        font-size: 47px;
        margin-left: 100px;
        color: #1B428F;
        margin-top: 55px;
    }
    p{
        max-width: 704px;
        max-height: 154px;
        font-size: 20px;
        margin-left: 100px;
        margin-top: 209;
        color: #1B428F;
    }
    .video-trailer{
        width: 576.38px;
        height: 324.35px;
        margin-left: 180px;
        border-radius: 77px;
        border: solid #1B5F99 29px;
    }
    .video{
        width: 100%;
        height: 100%;
        border-radius:47px ;
    }
}
