@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}




@media (max-width: 1280px) {
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      ::-webkit-scrollbar-track {
        background: #a1cbdf;
      }
      
      ::-webkit-scrollbar-thumb {
        background: rgb(11, 124, 177)
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(8, 164, 236)
      }

    body {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .container-main {
        width: 1080px;
        height: 14890px;
        overflow-x: clip;
        padding: 0px 100px;
    }

    .logo-inicio{
        width: 560px;
        height: 320px;
        margin-top: 0;
    }

    .fixed{
        z-index: 1000;
        position: fixed;
        right: 575px;
    }
    /*/////////////////////////// COMIENZO LOADER ///////////////////////////*/

    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #5acc4e, #7ccbcc);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .loader-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #000000;
        box-shadow: inset 5px 6px 15px rgba(37, 124, 255, 0.5);
        background-repeat: no-repeat;
        background-color: #00000027;
        animation: rotate 2s linear infinite;
        /* Animación de rotación */
        transition: background-image 0.3s ease-in-out;
        /* Transición suave en imágenes */
    }

    .loader-text {
        position: absolute;
        top: 80%;
        left: 50%;
        font-family: 'Lato', sans-serif;
        color: #000000;
        animation: fadeIn 1.1s ease-in-out infinite alternate;
        will-change: opacity;
    }

    .loader-text-numero {
        transform: translate(-50%, -100%);
        font-size: 50px;
        font-weight: bolder;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0.3;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /*/////////////////////////// FINALIZO LOADER ///////////////////////////*/

    /*/////////////////////////// COMIENZO HEADER ///////////////////////////*/

    .sticky-header {
        position: sticky;
        display: flex;
        top: 8px;
        justify-content: space-between;
        z-index: 1000;
    }



    .container-menu-hamburguesa,
    .container-btn-comprar {
        margin: 10px 0px 0px 0px;
        z-index: 2;
    }

    .container-menu-hamburguesa img {
        width: 40px;
        height: 30px;
    }

    /* Estilos del botón hamburguesa */
    .hamburger-button {
        width: 34px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-button span {
        width: 100%;
        height: 4px;
        background-color: #F39E46;
        border: 4px solid #fff;
        border-radius: 111px;
        box-shadow: 4px 5px 0px 0px #02187E;
        transition: transform 0.7s ease;
    }

    .transformed #span1,
    .transformed #span3 {
        border-radius: 0px;
        box-shadow: none;
    }

    /* Clase para aplicar la transformación */
    .transformed #span1 {
        transform: translatey(99%) rotate(40deg);
    }

    .transformed #span2 {
        opacity: 0;
        /* Oculta la línea central */
    }

    .transformed #span3 {
        transform: translatey(-99%) rotate(-40deg);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: -300px;
        z-index: 10;
        width: 300px;
        height: 105px;
    }

    nav{
       display: none;
    }

    .block{
        display: block;
    }


    nav.visible ul li {
        position: sticky;
        animation: slideIn 0.7s ease forwards;
        opacity: 0;
        background: #83C252;
        color: white;
    }

    nav.visible ul li:nth-child(1) {
        animation-delay: 0.2s;
    }

    nav.visible ul li:nth-child(2) {
        animation-delay: 0.4s;
    }

    nav.visible ul li:nth-child(3) {
        animation-delay: 0.6s;
    }



    /* Define la animación que hace que los elementos se deslicen desde la izquierda */
    @keyframes slideIn {
        0% {
            transform: translateX(0);
            opacity: 0;
        }

        100% {
            transform: translateX(100%);
            opacity: 1;
        }
    }

    header.visible {
        background: linear-gradient(180deg, #00d0d7 0%, #ffffff 100%);
        position: sticky;
        width: 1280px;
        margin-left: -100px;
        top: 0px;
        animation: backgroundAnimation 0.7s ease-in-out forwards;
    }

    @keyframes backgroundAnimation {
        0% {
            background: linear-gradient(180deg, rgba(0, 208, 215, 0) 0%, rgba(255, 255, 255, 0) 100%);
        }

        100% {
            background: linear-gradient(180deg, #00d0d7 0%, #ffffff 100%);
        }
    }

    header.visible .container-menu-hamburguesa {
        margin-left: 100px;
        margin-top: 20px;
    }

    header.visible .container-btn-comprar {
        margin-right: 100px;
    }

    li {
        height: 35px;
        list-style: none;
        padding-top: 7px;
        border: 1px solid #fff;
        width: 100%;
        text-align: center;
    }

    .container-logo {
        display: none;
    }

    .btn-comprar {
        text-decoration: none;
        background-color: #83C252;
        color: white;
        width: 180px;
        height: 50px;
        border-radius: 30px;
        border: solid white 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 3px 4px 0px #02187E;
        /* Sombra azul debajo del botón */
        font-size: 20px;
        font-weight: 900;
        line-height: 18.9px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 10px;
        animation: sombra-flotante 1.5s ease infinite;
    }

    .btn-comprar:hover {
        background-color: #4e8b20;
        cursor: pointer;
    }

    @keyframes sombra-flotante {
        0% {
            box-shadow: 3px 4px 0px #02187E;
        }

        50% {
            box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.2);
        }

        100% {
            box-shadow: 3px 4px 0px #02187E;
        }
    }


    /*/////////////////////////// FINALIZA HEADER ///////////////////////////*/

    /*/////////////////////////// COMIENZO PRIMERA SECCIÓN PORTADA ///////////////////////////*/

    .seccion-inicio {
        height: 959px;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100vw;
        left: -100px;
        top: -70px;
        background-image: url('../img/fondo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .seccion-arbol-izq {
        position: absolute;
        top: -10px;
        left: 0px;
        z-index: 1;
    }

    .seccion-arbol-der {
        position: absolute;
        top: 90px;
        right: 0px;
        z-index: 3;
    }

    .seccion-arbol-der-chico {
        position: absolute;
        top: 278.38px;
        right: 0px;
        z-index: 1;
    }

    .arbusto1 {
        position: absolute;
        bottom: 50px;
        left: 200px;
        z-index: 3;
    }

    .arbusto2 {
        position: absolute;
        bottom: 140px;
        left: 160px;
        z-index: 0;
    }

    .piedra1 {
        position: absolute;
        bottom: 100px;
        left: 130px;
        z-index: 2;
    }

    .arbusto3 {
        position: absolute;
        bottom: 200px;
        right: 0px;
        z-index: 2;
    }

    .arbusto4 {
        position: absolute;
        bottom: 275px;
        right: 60px;
        z-index: 0;
    }

    .piedra2 {
        position: absolute;
        bottom: 160px;
        right: 170px;
        z-index: 6;
    }

    .piedra3 {
        position: absolute;
        bottom: 170px;
        right: 90px;
        z-index: 5;
    }

    .piedra4 {
        position: absolute;
        bottom: 180px;
        right: 170px;
        z-index: 4;
    }

    .block-rojo-1 {
        position: absolute;
        bottom: 130px;
        right: 580px;
        z-index: 6;
    }

    .block-naranja-2 {
        position: absolute;
        bottom: 275px;
        right: 500px;
        z-index: 5;
    }

    .block-amarillo-3 {
        position: absolute;
        top: 323px;
        left: 710.25px;
        z-index: 4;
    }

    .elipse1 {
        position: absolute;
        bottom: 150px;
        right: 600px;
        z-index: 3;
    }

    .elipse2 {
        position: absolute;
        bottom: 176px;
        right: 490px;
        z-index: 2;
    }

    .elipse3 {
        position: absolute;
        bottom: 208px;
        right: 380px;
        z-index: 1;
    }

    /*/////////////////////////// FINALIZA PRIMERA SECCIÓN PORTADA ///////////////////////////*/

    /*Seccion de presentacion*/

    .seccion-presentacion {
        height: 1200px;
        position: relative;
        width: 100vw;
        left: -100px;
        top: -71px;
        background-image: url('../img/fondo2.png');
        background-repeat: no-repeat;
    }

    h1 {
        position: relative;
        max-width: 508px;
        height: 132px;
        font-size: 47px;
        top: 55px;
        left: 100px;
        color: #1B428F;
        font-weight: 600;
        size: 47px;
        line-height: 44.41px;
    }

    .seccion-presentacion p {
        position: relative;
        max-width: 694px;
        max-height: 154px;
        font-size: 20px;
        left: 100px;
        top: 80px;
        color: #1B428F;
        text-align: justify;
        font-weight: 400;
        size: 20px;
        line-height: 24px;
    }

    .contenedor-imagenes {
        position: relative;
        width: 576.38px;
        height: 324.35px;
        left: 206px;
        top: 102px;
        border-radius: 77px;
        border: solid #1B5F99 29px;
        overflow: hidden;
        /* Asegura que las imágenes no salgan del contenedor */
    }

    .contenedor-imagenes img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: cambioImagenes 9s infinite;
    }

    .contenedor-imagenes img:nth-child(1) {
        animation-delay: 0s;
    }

    .contenedor-imagenes img:nth-child(2) {
        animation-delay: 3s;
    }

    .contenedor-imagenes img:nth-child(3) {
        animation-delay: 6s;
    }

    @keyframes cambioImagenes {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .seccion-figura5 {
        position: absolute;
        top: -85px;
        right: -79px;

    }

    .seccion-figura5 img {
        width: 572px;
        height: 1259px;
    }

    .seccion-figura4 {
        position: absolute;
        top: 580px;
        left: 48px;
        z-index: 1;
    }

    .seccion-figura4 img {
        width: 601.64px;
        height: 543.24px;
    }

    /*Seccion galeria horizontal*/
    .seccion-galeria {
        position: relative;
        display: flex;
        top: 683px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 500px;
        width: 100vw;
        left: -100px;
        top: -71px;
    }

    .card-galeria {
        margin: 0;
        width: 303px;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 1s ease, transform 1s ease;
        will-change: opacity, transform;
    }

    .card-galeria.visible {
        opacity: 1;
        transform: translateY(0);
    }

 
    

    .card-galeria img {
        width: 300px;
        height: 252.69px;
    }

    .card-galeria .p-card {
        width: 300px;
        color: black;
        margin: 0;
    }

    /*Seccion de compra*/
    .seccion-descarga {
        position: relative;
        width: 105vw;
        left: -110px;
        /* top: 874px; */
        background-image: url('../img/fondoSeccionDescarga.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1157px;
        overflow: hidden;
    }

    .figuras-descarga img {
        position: relative;
        top: 215px;
        width: 1280px;
        height: 767px;
        object-fit: cover;
        transition: transform 0.2s ease-out;
    }

    .seccion-descarga h2 {
        max-width: 950px;
        max-height: 153px;
        position: relative;
        text-align: center;
        top: 175px;
        color: white;
        font-size: 61.14px;
        text-align: center;
    }

    .seccion-descarga button {
        width: 540px;
        height: 66px;
        position: relative;
        top: 290px;
        font-size: 16px;
        cursor: pointer;
        border: solid white 8px;
        background-color: #88DE7F;
        color: #fff;
        border-radius: 111px;
    }

    /*A consultar, supongo que van las img individuales
    de cada figura, hay que consultar porque no son las mismas*/
    .figura1-descarga {
        position: absolute;
        bottom: -170px;
        left: 52px;
        rotate: 8deg;
        z-index: 1;
    }

    .figura1-descarga img {
        width: 420px;
        height: 509px;
    }

    .figura3-descarga {
        position: absolute;
        left: -185px;
        rotate: 74deg;
        top: 235px;
    }

    .figura5-descarga {
        position: absolute;
        bottom: 10px;
        left: 350px;
        z-index: 0;
    }

    .figura5-descarga img {
        width: 261px;
        height: 470px;
    }

    .figura9-descarga {
        position: absolute;
        left: 500px;
        bottom: 0px;
    }

    .figura9-descarga img {
        width: 325px;
        height: 375px;
    }

    .figura2-descarga {
        position: absolute;
        bottom: -495px;
        rotate: -9deg;
        left: 820px;
    }

    .figura4-descarga {
        position: absolute;
        right: -150px;
        top: 320px;
        rotate: -70deg;
    }

    .figura4-descarga img {
        width: 400px;
        height: 700px;
    }

    /* Sección modos de juegos */
    .seccion-modos {
        position: relative;
    }
    
    .numero-modos {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .stickyModo {
        position: fixed;
        width: auto;
        height:400px ;
        top: 100px;
        left: 243px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sticky-final {
        position: absolute;
        top: 3922px;
        left: 243px;
    }
    
    .sticky-inicial {
        position: absolute;
        top: 287px;
        left: 243px;
    }
    
    .numero-modos img {
        max-width: 100%;
        max-height: 400px;
        object-fit: contain;
        opacity: 1;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .numero-modos img.desvanecer {
        opacity: 0;
    }
    .numero-modos img.zoom{
        transform:scale(1.1);
    }
    
    .seccion-modos h2 {
        position: relative;
        top: 174px;
        font-size: 60px;
    }
    
    .text-modo h3 {
        font-size: 40px;
    }
    
    .text-modo p {
        font-size: 20px;
    }
    
    .text-modo {
        position: relative;
        left: 613px;
        margin-top: 296px;
        display: block;
        width: 467px;
        height: 167px;
    }
    
    /*Seccion de videos*/
    .seccion-video {
        position: relative;
        top: 562.17px;
        width: 100vw;
        left: -100px;
        background-image: url('../img/fondo3.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 1443.83px;
    }

    .seccion-video h2 {
        position: relative;
        font-size: 60px;
        top: 308.83px;
        left: 100px;
        width: 802px;
        color: white;
        z-index: 2;
    }

    .video-container {
        position: relative;
        top: 354.83px;
        left: 100px;
        width: 804px;
        z-index: 2;
    }

    .video-container iframe {
        width: 804px;
        height: 450px;
        border-radius: 45px;
        border: 20px solid white;
    }

    .figura3-video {
        position: absolute;
        top: 550px;
        left: 831px;
        z-index: 3;
        animation: flotante 5s ease-in-out infinite;
    }

    .figura3-video img {
        width: auto;
        height: 700px;
    }

    @keyframes flotante {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(50px);
        }

        100% {
            transform: translateY(0);
        }
    }


    /*Seccion 3d*/
    .seccion-3d {
        position: relative;
        display: flex;
    }

    .text-3d {
        display: block;
        position: relative;
        top: 667px;
    }

    .text-3d h2 {
        font-size: 60px;
        width: 746px;
    }

    .text-3d p {
        width: 467px;
        height: 190px;
    }

    .figura3d {
        position: relative;
        top: 510px;
        left: -259px;
    }

    .seccion-3d img {
        width: 667px;
        height: 973px;
    }

    /*Seccion figuras*/
    .seccion-figuras {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 31px;
        width: 100vw;
        height: 729px;
        left: -100px;
        top: 676px;

        background-image:
            linear-gradient(to right,
                red 0%, orange 38%,
                yellow 41%, green 50%,
                lightskyblue 80%),

            linear-gradient(to right,
                rgb(119, 0, 255) 0%, lightskyblue 30%,
                rgb(255, 0, 157) 50%, gray 68%,
                white 90%);

        background-size: 100% 50%;
        background-position: top, bottom;

        background-blend-mode: overlay;

        background-repeat: no-repeat;
    }


    .seccion-figuras>div {
        position: relative;
        width: 230px;
        height: 355px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .seccion-figuras>div img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .cuadro-figura1 {
        background-color: red;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura2 {
        background-color: orange;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura3 {
        background-color: yellow;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura4 {
        background-color: green;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura5 {
        background-color: lightskyblue;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura6 {
        background-color: rgb(119, 0, 255);
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura7 {
        background: linear-gradient(to bottom,
                red 20%,
                orange 20% 40%,
                yellow 40% 60%,
                green 60% 80%,
                rgb(37, 193, 245) 80% 100%);
    }

    .cuadro-figura8 {
        background-color: rgb(255, 0, 157);
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura9 {
        background-color: gray;
        box-shadow: inset 10px 10px 100px black;
    }

    .cuadro-figura10 {
        background-color: white;
    }

    .seccion-figuras>div img:hover {
        transform: scale(1.08);
        transition: 1s ease-out;
    }

    .seccion-figuras>div:hover img {
        filter: brightness(1.2);
    }

    /* Sección correo */
    .seccion-correo {
        position: relative;
        height: 1570px;
        top: 676px;
        left: -100px;
        width: 120.415%;
    }

    .backg-part {
        height: 1296px;
        background: linear-gradient(0deg, #E0D299 0%, #ADF8FD 47.09%, #EDFDFF 88.29%, #FFFFFF 107.02%);
    }

    .no-backgr-part {
        height: 274px;
        background-color: white;
    }

    .seccion-correo div {
        padding-left: 80px;
    }

    .seccion-correo .title {
        width: 816px;
        height: 171px;
        padding-top: 180px;
    }

    .seccion-correo h3 {
        font-size: 60px;
        font-weight: 600;
        line-height: 56.7px;
    }

    .input-correo {
        display: flex;
        padding-top: 100px;
    }

    .input-correo input {
        width: 562px;
        height: 82px;
        background-color: #ECECEC;
        border-radius: 45px 0 0 45px;
        border: 9px solid white;
    }

    .input-correo input::placeholder {
        font-size: 20px;
        color: #00000063;
        letter-spacing: 1.5px;
        font-family: 'Lato', sans-serif;
        padding-left: 30px;
    }


    .input-correo button {
        width: 218px;
        height: 100px;
        background-color: #83C252;
        border-color: #FFFFFF;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 20px;
        line-height: 18.9px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        border-radius: 0 45px 45px 0;
        border: 9px solid white;
        border-left: none;

    }

    .seccion-correo h6 {
        font-size: 20px;
        width: 580px;
        padding-top: 40px;
        font-weight: normal;

    }

    .seccion-correo .ersb {
        padding-left: 80px;
        padding-top: 40px;
    }


    .small-cloud {
        position: relative;
        left: 460px;
        top: -195px;
    }

    .big-cloud {
        position: relative;
        left: 290px;
        top: -60px
    }

    .gifs {
        display: flex;
        flex-direction: row;
        margin-left: -220px;
        padding-top: 130px;
    }

    .bg-piso {
        margin-top: -347px;
        margin-left: -89px;
        z-index: 0;
    }

    .gifs img {
        z-index: 1;
    }

    .gif-3 {
        position: absolute;
        left: 420px;
    }

    .gif-7 {
        position: absolute;
        height: 850px;
        left: 790px;
        top: 750px;
    }

    .gifs {
        margin-top: 120px;
        margin-left: -80px;
    }

    /* Footer */
    footer {
        position: relative;
        background-color: #5E5E5D;
        width: 100vw;
        height: 515px;
        left: -100px;
        top: 676px;
    }

    .plataformas {
        position: relative;
        background-color: #242424;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .plataformas img {
        width: 1080px;
        height: auto;
    }

    footer p {
        position: relative;
        top: 20px;
        width: 880px;
        height: 361;
        font-size: 20px;
        left: 100px;
        color: white;
    }

    .footer p span {
        text-decoration: underline;
    }

    .redes {
        position: relative;
        top: 45px;
        left: 100px;
        width: 212px;
    }
}